<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="author" content="Artur Spengler (Backend), Petra Schanz (Frontend)">
	<title>Achtelbass</title>
	<link rel="stylesheet" type="text/css" href="/styles/achtelbass.css">
</head>
<body>
	<div class="body">
		<div class="wood">
			{{ locales.achtelbass_is_helpful }}<br><br>
			{{ locales.contains_random_generator }}<br><br>
			{{ locales.free_2_play }}<br><br>
			{{ locales.please_contact_me }} <span class="contact"><span>contacts</span></span>@achtelbass.de {{ locales.please_report_issues }} <a class="bright_href" href="https://github.com/letztes/achtelbass2web/issues">github</a>.<br><br>
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>
