<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="author" content="Artur Spengler (Backend), Petra Schanz (Frontend)">
	<title>Achtelbass</title>
	<link rel="stylesheet" type="text/css" href="/styles/achtelbass.css">
</head>
<body>
	<div class="body">
		<div class="wood">
			Achtelbass is meant to help you practice sight reading at your individual level.<br><br>
			All notes are randomly generated and very unlikely to be seen ever again in the same combination.<br><br>
			This way you will not memorize the notes of the exercise as it happens often with traditional literature.<br><br>
			You can increase the difficulty level gradually by adding options evenly or concentrate on certain options like triplets, chords, exotic time signatures or whatever you want to master.<br><br>
			Prepare for exams, target your personal weak spots or just begin to learn sight reading.<br><br>
			Achtelbass is free of charge and does not bother you with advertisement.<br><br>
			If you miss a feature or find a bug please contact me at <span class="contact"><span>соntаct</span></span>@achtelbass.de or open an issue at <a href="https://github.com/letztes/achtelbass2web/issues">github</a>.<br><br>
			If you are into python then you might fork the project and fix the issue by yourself.<br><br>
			If you do not code but like the website and want to contribute you can make a donation.<br><br>
			
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>
