<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="author" content="Artur Spengler (Backend), Petra Schanz (Frontend)">
	<title>Achtelbass</title>
	<link rel="stylesheet" type="text/css" href="/styles/achtelbass.css">
</head>
<body>
	<div class="body">
		<div class="wood">
			Achtelbass is meant to help you practice sight reading.<br><br>
			If you miss a feature or find a bug please contact me at <span class="contact"><span>spam</span></span>@achtelbass.de or open an issue at <a href="https://github.com/letztes/achtelbass2web/issues">github</a>.<br><br>
			If you know python and html then you might even fork the project and fix the issue by yourself.<br><br>
			If you do not code but like the website and want to contribute you can make a donation.<br><br>
			
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>
