<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="author" content="Artur Spengler (Backend), Petra Schanz (Frontend)">
	<title>Achtelbass</title>
	<link rel="stylesheet" type="text/css" href="/styles/achtelbass.css">
</head>
<body>
	<div class="body">
		<div class="wood">
			Artur Spengler<br>
			Welfenstr. 17<br>
			30161 Hannover<br>
			<span class="contact"><span>spam</span></span>@achtelbass.de<br>
		</div>
	</div>
	{% include 'footer.html' %}
</body>
</html>
