<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="author" content="Artur Spengler (Backend), Petra Schanz (Frontend)">
		<title>Achtelbass</title>
		<link rel="stylesheet" type="text/css" href="/styles/achtelbass.css">
		<link rel="stylesheet" type="text/css" href="/styles/abcjs-midi.css">
		<link rel="stylesheet" type="text/css" href="/fontawesome/css/solid.css">

		<meta name="viewport" content="width=device-width, initial-scale=1" />	
		<!--http://nortago.deviantart.com/art/Bg-Texture-wood-38841113 Wood-Background by nortago, thanks a lot!-->
	</head>
	<body>
		<div class="body">
			{{ debugging_info }}

			<textarea id="abc">
			{{ generated_notes }}
			</textarea>
			<div id="warnings"></div>
			<!--button id="triggerRender">Run</button-->

			<main>
				<form id="music_parameters" action="." method="post" style="display:{{ controls_display_style }}">
					<fieldset class="controls tonic">
						<h2>{{ Locales.Tonic }}</h2>
						{% for tonic in Tonics %}
							<input type="radio" id="tonic_{{ tonic }}" name="tonic" value="{{ tonic }}"{% if tonic == preselected.tonic %} checked="checked"{% endif %} />
							<label for="tonic_{{ tonic }}">{{ tonic }}</label>
						{% endfor %}
					</fieldset>
					<fieldset class="controls intervals">
						<h2>{{ Locales.Intervals }}</h2>
						{% for interval_index, interval_name in Possible_Intervals.items() %}
							<input type="checkbox" id="interval_{{ interval_name }}" name="intervals" value="{{ interval_name }}"{% if interval_name in preselected.intervals %} checked="checked"{% endif %} />
							<label for="interval_{{ interval_name }}">{{ interval_name }}</label>
						{% endfor %}
					</fieldset>
					<fieldset class="controls note_values">
						<h2>{{ Locales.note_values }}</h2>
						{% for note_value in Possible_Note_Values %}
							<input type="checkbox" id="{{ note_value_names[note_value] }}" name="note_values" value="{{ note_value }}"{% if note_value in preselected.note_values %} checked="checked"{% endif %} />
							<label for="{{ note_value_names[note_value] }}">
							<img src="/images/Music-{{ note_value_names[note_value] }}note.svg">
							</label>
						{% endfor %}
					</fieldset>
					{# commented out while only triplets are supported #}
					{% if 1 == 0 %}<!--<fieldset class="controls tuplets">
						<h2>{{ Locales.Tuplets }} </h2>
						{% for tuplet in Possible_Tuplets %}
							<input type="checkbox" id="tuplets_{{ tuplet }}" name="tuplets" value="{{ tuplet }}"{% if tuplet in preselected.tuplets %} checked="checked"{% endif %} />
							<label for="tuplets_{{ tuplet }}">{{ tuplet }}</label>
						{% endfor %}
					</fieldset> -->{% endif %}

					<div class="pitch_container">
						<h2>Pitch</h2>
						<fieldset class="controls min_pitch">
							{% for note_object in Note_Objects %}
								<p class="{{ note_object.line_type }}{% if note_object.note == preselected.min_pitch %} min_pitch{% endif %}{% if note_object.note == preselected.max_pitch %} max_pitch{% endif %}">
									<input type="radio" id="min_pitch_{{ note_object.note }}" name="min_pitch" value="{{ note_object.note }}"{% if note_object.note == preselected.min_pitch %} checked="checked"{% endif %} />
									<label title="{{ note_object.note }}" for="min_pitch_{{ note_object.note }}"></label>
								</p>
							{% endfor %}
						</fieldset>
						<fieldset class="controls max_pitch">
							{% for note_object in Note_Objects %}
								<p class="{{ note_object.line_type }}{% if note_object.note == preselected.min_pitch %} min_pitch{% endif %}{% if note_object.note == preselected.max_pitch %} max_pitch{% endif %}">
									<input type="radio" id="max_pitch_{{ note_object.note }}" name="max_pitch" value="{{ note_object.note }}"{% if note_object.note == preselected.max_pitch %} checked="checked"{% endif %} />
									<label title="{{ note_object.note }}" for="max_pitch_{{ note_object.note }}"></label>
								</p>
							{% endfor %}
						</fieldset>
					</div>
					
					<fieldset class="controls time_signature">
						<h2>{{ Locales.time_signature }}</h2>
						{% for time_signature in Possible_Time_Signatures %}
							<input type="radio" id="time_signature_{{ time_signature }}" name="time_signature" value="{{ time_signature }}"{% if time_signature == preselected.time_signature %} checked="checked"{% endif %} />
							<label for="time_signature_{{ time_signature }}">{{ time_signature }}</label>
						{% endfor %}
					</fieldset>
					<fieldset class="controls mode">
						<h2>{{ Locales.Mode }}</h2>
						{% for mode in Modes %}
							<input type="radio" id="mode_{{ mode }}" name="mode" value="{{ mode }}"{% if mode == preselected.mode %} checked="checked"{% endif %} />
							<label for="mode_{{ mode }}">{{ mode }}</label>
						{% endfor %}
					</fieldset>
					<fieldset class="controls grand_staff">
						<h2>Grand Staff</h2>
						<input type="checkbox" id="grand_staff_{{ grand_staff }}" name="grand_staff" value="1"{% if preselected.grand_staff %} checked="checked"{% endif %} />
						<label for="grand_staff_{{ grand_staff }}">Grand Staff</label>
					</fieldset>
					<div style="float: left;">
						<fieldset class="controls chords">
							<h2>{{ Locales.Chords }}</h2>
							<input type="range" min="0" max="1" step="0.01" name="chords_frequency" id="chords_frequency" value="{{ preselected.chords_frequency }}" />
							<label for="chords_frequency">{{ preselected.chords_frequency }}%</label>
						</fieldset>
						<fieldset class="controls rests">
							<h2>{{ Locales.Rests }}</h2>
							<input type="range" min="0" max="1" step="0.01" name="rest_frequency" id="rest_frequency" value="{{ preselected.rest_frequency }}" />
							<label for="rest_frequency">{{ preselected.rest_frequency }}%</label>
						</fieldset>
						<fieldset class="controls tuplets">
							<h2>{{ Locales.Triplets }}</h2>
							<input type="hidden" id="tuplets_3" name="tuplets" value="3"/> {# for the time being only triplets are supported #}
							<input type="range" min="0" max="1" step="0.01" name="tuplets_frequency" id="tuplets_frequency" value="{{ preselected.tuplets_frequency }}" />
							<label for="tuplets_frequency">{{ preselected.tuplets_frequency }}%</label>
						</fieldset>
					</div>
				</form>
				
				<button id="hide_form_button" class="control_buttons">{{ controls_button_text }}</button>
				<input type="button" id="submit_button" class="control_buttons" value="{{ Locales.submit_button_text }}" onclick='document.forms["configure"].submit();'>
				<button id="download_midi_button" class="control_buttons" onclick=document.getElementById('download_midi_link').click()>{{ Locales.download_midi }}</button>
				<span id="midi"></span>
				<div id="canvas"></div>
			</main>
			<script src="/js/abcjs_midi_5.2.0-min.js" type="text/javascript"></script>

			<script src="/js/achtelbass.js" type="text/javascript"></script>
			<script type="text/javascript">

				function colorRange(range, color) {
					if (range && range.elements) {
						range.elements.forEach(function (set) {
							set.forEach(function (item) {
								item.setAttribute("fill", color);
							});
						});
					}
				}

				const tunes = ABCJS.renderAbc("canvas", document.getElementById("abc").value, { add_classes: true });
				
				ABCJS.renderMidi(
					"midi",
					document.getElementById("abc").value,
					{
						animate: {
							listener: function(
								lastRange,
								currentRange,
								context
							){
								colorRange(lastRange, "#000000");
								colorRange(currentRange, "#3D9AFC");
								var startChar = currentRange.startChar;
								var endChar = currentRange.endChar;
							},
							target: tunes[0]
						},
						generateDownload: true,
						inlineControls: {
							loopToggle: true,
							//tempo: true
						}
					}
				);
				
				if (document.querySelectorAll('fieldset input[type="range"]').length) {
					Array.prototype.forEach.call(document.querySelectorAll('fieldset:not(.pitch) input[type="range"]'), function(el, i) {
						if (typeof(el.nextElementSibling) !== "undefined") {
							el.nextElementSibling.textContent = parseInt(el.value * 100) + '%';
							el.addEventListener('input', function() {
								el.nextElementSibling.textContent = parseInt(el.value * 100) + '%';
							});
						}
					});
				}
			</script>
		</div>
		<div class="about">
			Generates sheet music in a random fashion for practicing sight reading.

			It uses a random number generator when picking the note values, pitches or chunks of notes so that new notes are generated in each call, thus preventing learning them by memory.
			
			Practice for free.
		</div>
		{% include 'footer.html' %}
	</body>
</html>
