<!DOCTYPE html>{% load static %}{% load app_filters %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Achtelbass</title>
	<style>
        .controls {display:inline-block;padding:2px;margin:2px}
    </style>
</head>
<body>
{{ debugging_info }}
<!--applet id="MIDIPlugin" code="MIDIPlugin.class" name="MIDIPlugin" archive="http://dl.dropbox.com/u/223827/abcjs/MIDIPlugin.jar" height="1" width="1"></applet-->

<textarea id="abc" cols="80" rows="15" style="display:block;">
{{ generated_notes }}
</textarea>
<div id="warnings"></div>
<!--button id="triggerRender">Run</button-->

<form action="." method="post">{% csrf_token %}
    <div id="controls_tonic" class="controls">
        {{ locales.Tonic }}<br>
        <select name="tonic" size="5" type="multiple">
            {% for tonic in tonics %}
            <option {% ifequal tonic preselected.tonic %}selected="selected" {% endifequal %}>{{ tonic }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="controls_mode" class="controls">
        {{ locales.Mode }}<br>
        <select name="mode" size="5" type="multiple">
            {% for mode in modes %}
            <option {% ifequal mode preselected.mode %}selected="selected" {% endifequal %}>{{ mode }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="controls_chords" class="controls">
        {{ locales.Chords }}<br>
        <select name="chords_frequency">
            <option value="0">0 %</option>
            <option value="10" {% if preselected.chords_frequency == "10" %}selected="selected" {% endif %}>10 %</option>
            <option value="20" {% if preselected.chords_frequency == "20" %}selected="selected" {% endif %}>20 %</option>
            <option value="30" {% if preselected.chords_frequency == "30" %}selected="selected" {% endif %}>30 %</option>
            <option value="40" {% if preselected.chords_frequency == "40" %}selected="selected" {% endif %}>40 %</option>
            <option value="50" {% if preselected.chords_frequency == "50" %}selected="selected" {% endif %}>50 %</option>
            <option value="60" {% if preselected.chords_frequency == "60" %}selected="selected" {% endif %}>60 %</option>
            <option value="70" {% if preselected.chords_frequency == "70" %}selected="selected" {% endif %}>70 %</option>
            <option value="80" {% if preselected.chords_frequency == "80" %}selected="selected" {% endif %}>80 %</option>
            <option value="90" {% if preselected.chords_frequency == "90" %}selected="selected" {% endif %}>90 %</option>
            <option value="100" {% if preselected.chords_frequency == "100" %}selected="selected" {% endif %}>100 %</option>
        </select>
    </div>
    <div id="controls_submit" class="controls">
        <button type="Submit">Submit</button>
    </div>
</form>

<hr>
<div id="midi"></div>
<div id="canvas"></div>
<!--textarea id="target" cols="80" rows="15"></textarea-->
<!--
<script src="abcjs/bin/abcjs_editor_latest-min.js" type="text/javascript"></script>
-->
<script src="{% static 'abcjs/bin/abcjs_basic_latest-min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
        
    ABCJS.renderAbc("canvas", document.getElementById("abc").value);
    //ABCJS.renderMidi("midi", document.getElementById("abc").value);
    		

	</script>
</body>
</html>
