
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #fff;
	color: #111;
}

main {
	overflow: hidden;
	margin: 0 auto;
	max-width: 2000px;
}

#abc {
	display: none;
}

#configure {
	overflow: hidden;
	background: url('/images/bg_texture___wood_by_nortago.jpg') top left #402107;
	box-shadow: -5px -5px 5px #210 inset;
	padding-bottom: 3em;
}

form > fieldset *:not(input),
form h2 {
	color: #f2ecdc;
}

form h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-shadow: 2px 2px 2px #333;
}

.controls {
	float: left;
	border: 0;
	padding: 1em;
}

@media (min-width: 1200px) {
	#configure {
		float: left;
		width: 300px;
	}

	#canvas {
		float: left;
	}
}

@media (min-width: 1300px) {
	#configure {
		width: 400px;
	}
}

@media (min-width: 1500px) {
	#configure {
		width: 600px;
	}
}

@media (min-width: 1700px) {
	#configure {
		width: 800px;
	}
}

@media (min-width: 1900px) {
	#configure {
		width: 1000px;
	}
}

.controls input[type="checkbox"],
.controls input[type="radio"] {
display: none;
}

.controls input[type="checkbox"] + label,
.controls input[type="radio"] + label,
.controls input[type="submit"],
.control_buttons {
	line-height: 2em;
	padding: 0 0.5em;
	border-radius: 0.5em;
	color: #888;
	background-color: #f2ecdc;
	display: inline-block;
	margin-bottom: 1em;
	text-align: center;
	cursor: pointer;
	box-shadow: -3px -3px 3px #ccc inset;
	border: none;
}

.controls input:checked + label,
.controls input[type="submit"]:active {
	color: #111;
	background: #ad9968;
	box-shadow: 3px 3px 3px #888 inset;
}

.controls input[type="submit"] {
	color: #111;
	font-weight: bold;
	margin-top: 1em;
	font-size: 1.2em;
}

label[for="note_values_1_2"] {
	background: green;
}

.note_values label {
	padding: 0 !important;
	height: 2em;
	width: 2em;
}

.note_values label img {
	width: 60%;
	height: 60%;
	margin: 20%;
}

.pitch_container {
	clear: left;
	float: left;
	padding: 1em;
	overflow: hidden;
}

.pitch_container fieldset {
	float: left;
	color: #111;
	margin: 0;
	padding: 0;
	background: #fff;
}

.pitch_container fieldset:first-of-type {
	position: relative;
}

.pitch_container fieldset:first-of-type:before {
	content: '.';
	color: #fff;
	opacity: 0.4;
	z-index: 5;
	position: absolute;
	top: 1.3em;
	left: 0.2em;
	height: 7.4em;
	width: 3em;
	background: url('/images/violin.svg') bottom left no-repeat;
	background-size: auto 100%;
}

.pitch_container fieldset:first-of-type:after {
	content: '.';
	color: #fff;
	opacity: 0.4;
	z-index: 5;
	position: absolute;
	bottom: 4.8em;
	left: 0.2em;
	height: 2.6em;
	width: 3em;
	background: url('/images/bass.svg') bottom left no-repeat;
	background-size: auto 100%;
}

.pitch_container fieldset:last-of-type {
	padding-right: 1px;
}

	.pitch_container fieldset:first-of-type p {
		padding-left: 9em;
	}

	.pitch_container fieldset:last-of-type p {
		padding-right: 4em;
	}

.pitch_container p {
	margin: 0;
	font-size: 9px;
	height: 1em;
	position: relative;
	overflow: visible;
}

.pitch_container p:first-child {
	padding: 0 0.5em;
	text-align: right;
}

.pitch_container p.max_pitch,
.pitch_container p.max_pitch ~ p {
	background: #ad9968;
}

.pitch_container p.max_pitch ~ p.min_pitch + p ~ p {
	background: #fff;
}

.pitch_container p.min_pitch,
.pitch_container p.min_pitch ~ p {
	background: #ad9968;
}

.pitch_container p.min_pitch ~ p.max_pitch + p ~ p {
	background: #fff;
}

.pitch_container p.regular_line:nth-of-type(even) {
	border-bottom: 1px solid #111;
 }

.pitch_container p.ledger_line:nth-of-type(even) {
	border-bottom: 1px solid #ccc;
 }

.pitch_container p:first-of-type {
	border-bottom: none;
}

.pitch_container fieldset:last-of-type p.regular_line {
	border-right: 1px solid #111;
}

.pitch_container fieldset:last-of-type p.ledger_line + p.regular_line {
	border-right: none;
}

.pitch_container .controls input[type="radio"] {
	font-size: 9px;
	display: inline-block;
	margin: 0;
	height: 1em;
	opacity: 0;
	z-index: 0;
}

.pitch_container .controls input[type="radio"] + label {
	background: none;
	padding: 0;
	line-height: 2em;
	width: 1.7em;
	height: 1.7em;
	text-shadow: none;
	margin: 0;
	box-shadow: none;
	position: absolute;
	top: 0.15em;
	left: 7em;
	border-radius: 2em;
	transition: background-color 0.5s;
	z-index: 2;
	overflow: visible;
}

.pitch_container fieldset.controls:last-of-type input[type="radio"] + label {
	left: 1em;
}

.pitch_container .controls input[type="radio"] + label:hover {
	background: #888;
}

.pitch_container .controls input[type="radio"]:checked + label {
	background: #111;
}

.pitch_container p.ledger_line:nth-of-type(odd) input[type="radio"]:checked + label:before {
	content: '.';
	border-top: 2px solid #111;
	width: 2.3em;
	margin-left: -0.3em;
	text-align: center;
	display: block;
	margin-top: 0.8em;
}

label[for="chords_frequency"],
label[for="rest_frequency"] {
	min-width: 3em;
	display: inline-block;
	text-align: right;
}

.contact span {
    display: none;
}

.contact::after {
    content: "contact";
    display: inline;
}

.wood {
	background: #402107 url("/images/bg_texture___wood_by_nortago.jpg") repeat scroll left top;
	color: #f2ecdc;
	font-size: x-large;
	padding: 1em;
}

.navigation {
	float:right;
	padding: 1em;
}

.footer {
	padding: 1em;
}

.site-footer-links {
	vertical-align: center;
}

.site-footer-links > li {
	display: inline-block;
}

.site-footer-links > li > a {
	text-decoration: none;
	padding: 1em;
}

.right {
	float: right !important;
}

.about, .midi_link {
	display: none;
}

.control_buttons {
	margin:1em;
	color: #888;
	background-color: #fff;
}

.body {
	display: none;
}
